# --- Core App Config ---
CLIENT_ID=
FYERS_SECRET_ID=
APP_ID_HASH=
FYERS_REDIRECT_URL=

# --- One-time auth flow ---
FYERS_AUTH_CODE=
# --- Persistent tokens (after first login) ---
FYERS_REFRESH_TOKEN=
FYERS_ACCESS_TOKEN=
# --- Optional (if required by your account) ---
PIN=