# Environment variables
.env
.env.*

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo


*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# IDE / Editor configs
.vscode/
.idea/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

#custom files
logger_files/
